# GIT
alias gs="git status"
alias ga="git add"
alias gc="git commit -m"
alias gd="git diff"
alias gp="git push"
alias nah="git reset --hard;git clean -df;"
alias r="git checkout develop && git pull origin develop && git checkout - && git rebase develop"
alias gf="git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs /usr/local/bin/git branch -D"

# Artisan, PHP, Tests
alias art="php artisan"
alias t="vendor/bin/phpunit"
alias tf="t --filter "
alias mt="make test"
mtf() {
    mt TEST_ARGS="--filter $1"
}

# Folders
alias home="cd ~"
alias code="cd $HOME/code"

# Docker
alias dockerremove='docker container rm -f $(docker ps -aq)'
alias dockerremoveimg='docker rmi -f $(docker images -q)'
alias dockerkill='docker container kill $(docker ps -aq)'
alias dockerdontrestart='docker container update --restart=no $(docker ps -aq)'
alias dcomposer='docker run -v `pwd`:/app composer'
alias dart="docker-compose exec app php artisan"
alias dce="docker-compose exec app"
alias dup="dockerkill | docker-compose up -d"
alias dupapp="dockerkill | docker-compose up -d app"
alias dce2e="docker-compose -f docker-compose.yml -f docker-compose-e2e.yml"

alias dlive='function _dlive() { docker container run --rm --pid=host -v `pwd`:/var/www -p ${${1}:-8080}:${${1}:-8080} -e PORT=${${1}:-8080} letsgoi/live-server };_dlive'

changelog() {
    git log $(git describe --tags --abbrev=0)..HEAD --oneline | grep "into 'develop'" | cut -d "'" -f 2 | sed -Ee "s/-/ /g;s/feature/- New: /g;s/bugfix|hotfix/- Fix: /g" | awk -F / '{printf "%s", $1; for(i=2; i<=NF; i++) printf "%s", toupper(substr($i,1,1)) substr($i, 2); print"";}'
}
alias lights='yee --ip 192.168.1.36'
alias speedtest='echo "$(curl -skLO https://git.io/speedtest.sh && chmod +x speedtest.sh && ./speedtest.sh)"'
